.image {
  background: url("./image.jpg") no-repeat 100%/100%;
  width: 364px;
  height: 161px;
}

.image2 {
  background: url("./image2.jpg") no-repeat 100%/100%;
  width: 340px;
  height: 161px;
  margin-bottom: 16px;
}

  #btn {
    background: blue;
  }

  .btn {
    background: red;
  }



