.image {
  background: url("./image.jpg") no-repeat 100%/100%;
  width: 364px;
  height: 86px;
  margin-bottom: 16px;
}

.image2 {
  background: url("./image2.jpg") no-repeat 100%/100%;
  width: 364px;
  height: 161px;
}

.btn {
  background: red!important;
}