.image {
  background: url("./image.jpg") no-repeat 100%/100%;
  width: 358px;
  height: 121px;
}

.image2 {
  background: url("./image2.jpg") no-repeat 100%/100%;
  width: 358px;
  height: 157px;
  margin-bottom: 16px;
}

.parent span{
  color:blue;
}

.child span{
  color: red;
}


