.practise-02-image {
    background: url("practise2.jpg") no-repeat 100%/100%;
    width: 1047px;
    height: 548px;
}

.container {
    display: flex;
    border: 1px gray solid;
    padding: 8px 8px;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.description {
    border: 1px gray solid;
    /*margin: 16px;*/
    padding: 16px;
    flex-basis: 33%;
}