.article-container {
  flex: 1;
  overflow: auto;
  padding: 20px 220px 20px 40px;
  background: #fff;
}

.nav-container {
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: #fff;
  border-left: 1px solid #e1e1e1;
  width: 200px;
  transform: translate(0, 0);
  transition: transform 500ms ease;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.content {
  display: flex;
  min-height: 100vh;
}

.menu,
div > .spining {
  height: 100%;
}

:global(.ant-spin-nested-loading > div > .ant-spin) {
  left: -100px;
  min-height: 100vh;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
