.practise-01-image {
  background: url("practise1.jpg") no-repeat 100%/100%;
  width: 1110px;
  height: 243px;
}

.container{
  border: #1890ff 1px solid;

  display: flex;
  justify-content: space-around;
  /*width: 800px;*/
}

